.popup-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.popup-box {
  background: #fff;
  width: 350px;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.popup-box h3 {
  margin-bottom: 10px;
}

.popup-box p {
  color: #555;
  margin-bottom: 20px;
}

.popup-actions {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.cancel-btn {
  flex: 1;
  padding: 10px;
  background: #ddd;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  color: black;
}
.cancel-btn:hover {
  background: #f2eded;
}

.delete-btn {
  flex: 1;
  padding: 10px;
  background: #c04d4b;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
.delete-btn:hover {
  background: #a83230;
}
