.foodlist-con {
  background: white;
  padding: 20px;
  border-radius: 8px;
}
.foodlist-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.foodlist-con h2 {
  margin-bottom: 15px;
}
.add-food-btn {
  background-color: #4caf50;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 15px
}
.food-table {
  width: 100%;
  border-collapse: collapse;
}

.food-table th,
.food-table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

.food-table th {
  background-color: #f2f2f2;
}

.food-table img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 5px;
}

.active  button{
  background-color: green;
  color: rgb(255, 255, 255);
  font-weight: bold;
  border: none;
}
.active button:hover{
  cursor: pointer;
  background-color: rgb(45, 217, 128);
  color: rgb(0, 0, 0);
}

.inactive button {
  border: none;
  background-color: rgb(255, 43, 43);
  color: white;
  font-weight: bold;
}
.inactive button:hover {
  cursor: pointer;
  background-color: rgb(24, 167, 95);
  color: rgb(255, 255, 255);
}